langchain==1.2.15
langchain-community==0.4.1
langchain-core==1.2.31
langchain-text-splitters==1.1.2
chromadb==1.5.8
PyMuPDF==1.27.2.3
gradio==6.13.0
matplotlib==3.10.8
pydantic==2.12.5
tqdm==4.67.3
jupyter==1.1.1
ipykernel==7.2.0
